<!DOCTYPE html>
<html lang-"en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
    crossorigin="anonymous">
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js" >
    </script>
    <title>Lora real-time graph demo</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-10 mx-auto mt-5">
        <canvas id="myChart" width="400" height="200"></canvas>
      </div>
    </div>
  </div>
</body>

<script>
var ctx = document.getElementById('myChart').getContext('2d');

var graphData = {
    type: 'bar',
    data: {
        labels: [1, 2, 3, 4, 5, 6],
        datasets: [{
            label: 'PM2.5',
            data: [0, 0, 0, 0, 0, 0],
            backgroundColor: [
                'rgba(73, 198, 230, 0.5)',
            ],
            borderWidth: 1
        }]
    },
    options: { }
}

var myChart = new Chart(ctx, graphData);


// var socket = new WebSocket('ws://localhost:8000/ws/graph/');

const socket = new WebSocket(
    'ws://' +
    window.location.host +
    '/ws/graph/'
);

socket.onmessage = function(e) {
  var djangoData = JSON.parse(e.data);
  console.log(djangoData)

  var newGraphData = graphData.data.datasets[0].data;
  newGraphData.shift();
  newGraphData.push(djangoData.pm25);

  graphData.data.datasets[0].data = newGraphData;
  myChart.update();
}
</script>

</html>
