
<!DOCTYPE html>
<html lang-"en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
    crossorigin="anonymous">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script> -->
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js" > </script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"> </script>
    <title>Lora stats</title>
    <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
      text-align: left;
    }
    table.center {
      margin-top: 15px;
      margin-left: auto;
      margin-right: auto;
    }
</style>
</head>
<body>
  <div class="container">
        <canvas id="myChart" width="400" height="200"></canvas>
  </div>

<table class="center">
  <tr>
    <th>8h Average PM2.5:</th>
    <td id="avg"></td>
  </tr>
  <tr>
    <th>8h Peak PM2.5 value:</th>
    <td id="peak"></td>
  </tr>
</table>

<table class="center">
  <tfoot><tr><td colspan="2"><small><small><small>Source: U.S. Air Quality Index for PM2.5, Rapace (2005)</small></small></small></td></tr></tfoot>
  <tr>
    <th>PM2.5 (&mu;/&#13221; )</th>
    <th>Health Concern</th>
  </tr>
  <tr>
    <td>0 - 15</td>
    <td style="background-color: rgba(0,255,0,0.6)"> Good </td>
  </tr>
  <tr>
    <td> 15 - 40 </td>
    <td style="background-color: rgba(255,255,0,0.6)"> Moderate </td>
  </tr>
  <tr>
    <td> 40 - 65 </td>
    <td style="background-color: rgba(255, 140, 0, 0.6)"> Unhealthy for sensitive groups </td>
  </tr>
  <tr>
    <td> 65 - 150 </td>
    <td style="background-color: rgba(255, 0, 0, 0.6)"> Unhealthy </td>
  </tr>
  <tr>
    <td> 150 - 250 </td>
    <td style="background-color: rgba(100, 0, 100, 0.6)"> Very unhealthy </td>
  </tr>
  <tr>
    <td> 250 - 500 </td>
    <td style="background-color: rgba(66, 13, 9, 0.6)"> Hazarduous </td>
  </tr>
</table>

</body>

<script>
var ctx = document.getElementById('myChart').getContext('2d');

var db_y = JSON.parse("{{pm25_list}}");
// var db_x = JSON.parse("{{x_val}}");

var db_labels = [];
{% for d in time_list %}
db_labels.push(new Date("{{ d.isoformat }}").toLocaleTimeString(navigator.language, {hour: '2-digit', minute:'2-digit'}));
{% endfor %}

console.log(db_labels[0])

var sum = 0;
for( var i = 0; i < db_y.length; i++ ){
    sum += parseInt( db_y[i], 10 );
}

var pm25_avg = db_y.length == 0 ? 0 : sum/db_y.length;
var pm25_peak = Math.max.apply(Math, db_y);

window.onload = function() {
  document.getElementById("avg").innerHTML = (Math.round(pm25_avg * 10) / 10).toString() + ' ' + "\u03BC" + "g/" + "\u33A5";
  document.getElementById("peak").innerHTML = pm25_peak.toString() + ' ' + "\u03BC" + "g/" + "\u33A5";
};


var graphData = {
    type: 'bar',
    data: {
        labels: db_labels,
        datasets: [{
            label: 'PM2.5',
            data: db_y,
            backgroundColor: [
                'rgba(73, 198, 230, 0.5)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        // maintainAspectRatio: false,
        scales: {
          y: {
            title: {
              display: true,
              text: "\u03BC" + "g/" + "\u33A5",
            }
          },
        },
        plugins: {
            title: {
                font: {size: 20},
                display: true,
                text: 'PM2.5 levels for the last 8h',
            }
        }
    }
}


var myChart = new Chart(ctx, graphData);


// var socket = new WebSocket('ws://localhost:8000/ws/graph/');

var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";

var socket = new WebSocket(
    ws_scheme + '://' +
    window.location.host +
    '/ws/graph/'
);

socket.onmessage = function(e) {
  var djangoData = JSON.parse(e.data);
  console.log(djangoData)

  var newGraphData = graphData.data.datasets[0].data;
  var pm25_new = djangoData.pm25 > 150 ? 150 : djangoData.pm25;
  newGraphData.push(pm25_new);

  graphData.data.datasets[0].data = newGraphData;

  var newGraphLabel = graphData.data.labels;
  var packet_d = new Date(djangoData.date_received).toLocaleTimeString(navigator.language, {hour: '2-digit', minute:'2-digit'});
  newGraphLabel.push(packet_d);
  graphData.data.labels =  newGraphLabel;

  sum = 0;
  for( var i = 0; i < newGraphData.length; i++ ){
      sum += parseInt( newGraphData[i], 10 );
  }

  pm25_avg = newGraphData.length == 0 ? 0 : sum/newGraphData.length;
  pm25_peak = Math.max.apply(Math, newGraphData);

  document.getElementById("avg").innerHTML = (Math.round(pm25_avg * 10) / 10).toString() + ' ' + "\u03BC" + "g/" + "\u33A5";
  document.getElementById("peak").innerHTML = pm25_peak.toString() + ' ' + "\u03BC" + "g/" + "\u33A5";

  myChart.update();
}
</script>

</html>
